.profile{
  .user-photo{
     overflow: hidden;
      img{
        border-radius: 50%;
      }
  }
  .username{
    padding-left: 0;
    padding-right: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

  }
}


@media (min-width: 768px){
 .profile{
    .user-photo{
      padding-left: 1.5rem;
     
    }
  } 
}
